body {
  font-family: noto sans, sans-serif;
}

/* navbar */
.navbar {
  background-color: #fff;
  border-bottom: 1px #e3e7e9 solid;
}

.navbar-brand {
  margin-left: 50px;
}
/* navbar */


.my-col {
  margin-top: 30px;
  text-align: center;
  background-color: #f8f9fa;
  font-size: 20px;
  line-height: 40px;
  color: #777;
  font-family: "Roboto Condensed", sans-serif;
}

/* world stats */
.focus-col {
  margin-top: 40px;
  text-align: center;
  font-size: 35px;
  font-weight: 300;
  color: #555;
}

.focus-col2 {
  text-align: center;
  font-size: 54px;
  font-weight: 700;
  color: #696969;
}

.active-death {
  color: #ff0000;
  font-family: "Noto Sans", sans-serif;
}

.active-recov {
  color: #8aca2b;
  font-family: "Noto Sans", sans-serif;
}

.active-cases {
  color: #aaaaaa;
  font-family: "Noto Sans", sans-serif;
}
/* stats end */

/* links */
.links {
  margin-top: 50px;
  text-align: center;
}

a {
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
}
/* end */

/* table */
.table {
  table-layout: fixed;
  font-family: noto sans, sans-serif;
  width: auto;
}

.table thead th {
  height: 30px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  background-color: #fdfffc;
}

.table,
td,
th {
  text-align: center;
  vertical-align: middle;
  color: #666;
  font-size: 14.5px;
  font-weight: bold;
}

.table,
td {
  text-align: right;
  vertical-align: middle;
  color: #363945;
  font-size: 15px;
  font-weight: bold;
}

tbody > tr > :nth-child(1) {
  color: #008fff;
  text-align: left;
  width: 125px;
}

.table.sticky th {
  position: sticky;
  top: 0;
}

.table.sticky th::after {
  content: '';
  width: 100%;
  height: 1.75px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #DEE2E6;
}
/* end */

/* footer */
.footer-col {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.super-footer {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* end */

/* message */
.alert {
  text-align: center;
  margin-top: 30px;
  width: 100%;
  margin-bottom: 0;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  padding: 0px 15px;
  border-radius: 0;
}
/* end */

/* card */
.card-container {
  margin-top: 20px;
}

.card {
  height: 230px;
  margin-top: 30px;
}

.card-body {
  padding-top: 15px;
}

.card-header {
  text-align: center;
  font-size: 18px;
  color: #333;
}

.top {
  text-align: center;
}

.left {
  text-align: center;
  padding-left: 0px;
  margin-top: 30px;
  
}

.right {
  text-align: center;
  padding-right: 0px;
  margin-top: 30px;
}

.desc {
  font-size: 13.5px;
  color: #222;
}

.stat {
  font-size: 24px;
  font-weight: bold;
  color: #222;
}

.stat-mild {
  color: #8080FF;
}

.stat-crit {
  color: #F0D719;
}

.stat-recovered {
  color: #8ACA2B;
}

.stat-death {
  color: #ff0000;
}
/* end */